@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
:root {
  --accent: #3b64d8;
  --grayText: #484848;
  --bgWhite: #f6f6f6;
  --bgBlue: #133180;
  --bgDark: #161a35;
  --Shadow: #0000003f;
}

/*:::::::::: UTILITÁRIOS ::::::::::*/
.container {
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.tag-title {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--bgBlue);
}
.title {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.text-accent {
  color: var(--accent);
}

/*:::::::::: COMPONENTS ::::::::::*/
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--accent);
  color: var(--bgWhite);
  max-width: fit-content;
  padding: 1rem 4rem;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 2px 2px 1rem var(--Shadow);
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.cta:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.cta span {
  display: block;
  font-weight: 600;
  color: var(--bgWhite);
}

/*:::::::::: HERO ::::::::::*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("../imagens/bg-hero.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.5rem 0;
}
.hero .header img {
  display: block;
  max-width: 16.75rem;
  width: 100%;
}
.hero .content {
  display: flex;
  gap: 2rem;
}
.hero .content .headline {
  flex: 1;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.hero .content .headline h1 {
  font-size: 2.25rem;
  line-height: 1.4;
}
.hero .content .headline p {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--grayText);
  max-width: 30rem;
  margin: 1rem 0 2rem 0;
}
.hero .img-hero {
  flex: 1;
}
.hero .img-hero img {
  display: block;
  width: 100%;
}

/*:::::::::: SOLUTIONS ::::::::::*/
.solutions {
  background-image: url("../imagens/bg-solutions.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.5rem 0;
}
.solutions .top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.solutions .top .leftside img {
  display: block;
  width: 100%;
}
.solutions .top .rightside h2 {
  max-width: 22.5rem;
}
.solutions .box-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}
.solutions .box-card .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 19.375rem;
  width: 100%;
  background-color: var(--bgWhite);
  border-top: 4px solid var(--accent);
  padding: 1.5rem;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  box-shadow: 4px 4px 1.5rem var(--Shadow);
}
.solutions .box-card .card img {
  max-height: 3.5rem;
  margin-right: auto;
}
.solutions .box-card .card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bgDark);
}
.solutions .box-card .card .card-points {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.solutions .box-card .card .card-points .item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.solutions .box-card .card .card-points .item img,
.solutions .box-card .card .card-points .item span {
  display: block;
}
.solutions .box-card .card .card-points .item span {
  font-size: 0.875rem;
}
.solutions .box-card .card button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--bgBlue);
  border-radius: 2rem;
  max-width: fit-content;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.solutions .box-card .card button:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.solutions .box-card .card button img,
.solutions .box-card .card button span {
  display: block;
}
.solutions .box-card .card button span {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--bgBlue);
}

/*:::::::::: DIFFERENTIAL ::::::::::*/
.differential {
  padding: 7.5rem 0;
  background-color: var(--bgWhite);
}
.differential .top {
  max-width: 37.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.differential .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.differential .box .item {
  display: flex;
  max-width: 22.5rem;
  width: 100%;
  min-height: 39rem;
  height: fit-content;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 4px 4px 1.5rem var(--Shadow);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.differential .box .item:nth-child(1) {
  background-image: url("../imagens/differential-card-1.png");
}
.differential .box .item:nth-child(2) {
  background-image: url("../imagens/differential-card-2.png");
}
.differential .box .item:nth-child(3) {
  background-image: url("../imagens/differential-card-3.png");
}
.differential .box .item .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
  padding: 1.5rem;
  height: 50%;
}
.differential .box .item .content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent);
  line-height: 1.3;
}
.differential .box .item .content p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayText);
  line-height: 1.4;
}
.differential .cta {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

/*:::::::::: CASES ::::::::::*/
.cases {
  padding: 7.5rem 0;
  background-color: var(--bgWhite);
}
.cases .top {
  max-width: 40rem;
  text-align: center;
}
.cases .top p {
  margin-top: 1rem;
}
.cases .box-cases {
  margin-top: 4rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
}
.cases .box-cases .item {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.cases .box-cases .item:nth-child(even) {
  flex-direction: row-reverse;
}
.cases .box-cases .item .img-case {
  flex: 1;
}
.cases .box-cases .item .img-case img {
  display: block;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 4px 4px 1.5rem var(--Shadow);
}
.cases .box-cases .item .text-content {
  flex: 1;
}
.cases .box-cases .item .text-content .item-title,
.cases .box-cases .item .text-content p,
.cases .box-cases .item .text-content .btn-more {
  max-width: 24rem;
}
.cases .box-cases .item .text-content .item-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cases .box-cases .item .text-content .item-title img {
  max-height: 3.25rem;
  display: block;
}
.cases .box-cases .item .text-content .item-title h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--accent);
}
.cases .box-cases .item .text-content p {
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--grayText);
}
.cases .box-cases .item .text-content .btn-more {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  max-width: fit-content;
  width: 100%;
  padding: 0.75rem 2rem;
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.cases .box-cases .item .text-content .btn-more:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.cases .box-cases .item .text-content .btn-more img {
  display: block;
}
.cases .box-cases .item .text-content .btn-more span {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--accent);
}

/*:::::::::: STATISTICS ::::::::::*/
.statistics {
  position: relative;
  padding: 5rem 0;
  background-color: var(--bgDark);
}
.statistics .btn-arrow-down {
  position: absolute;
  top: -1px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.statistics .btn-arrow-down img {
  display: block;
}
.statistics .numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
}
.statistics .numbers .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 12.8125rem;
}
.statistics .numbers .item span {
  display: block;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  color: var(--bgWhite);
}
.statistics .numbers .item .leg-number {
  font-size: 1rem;
  font-weight: 400;
  color: var(--bgWhite);
}

/*:::::::::: ABOUT ::::::::::*/

.about {
  padding: 7.5rem 0;
  background: url("../imagens/bg-about.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.about .content .leftside {
  flex: 1;
}
.about .content .leftside img {
  margin-top: -13rem;
  position: relative;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about .content .rightside {
  flex: 1;
}
.about .content .rightside h2 {
  max-width: 26.875rem;
  margin: 1rem 0;
}
.about .content .rightside p {
  max-width: 26.875rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayText);
  line-height: 1.4;
}

/*:::::::::: INDEMNITY ::::::::::*/

.indemnity {
  padding: 5rem 0 3rem 0;
  background-color: var(--bgWhite);
}
.indemnity .content img {
  display: block;
  max-width: 16.75rem;
  width: 100%;
  margin: 0 auto;
}
.indemnity .content .img-indemnity {
  margin: 4rem 0;
}
.indemnity .content .img-indemnity img {
  display: block;
  max-width: 90%;
  width: 100%;
}
.indemnity .content h2 {
  max-width: 36rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.indemnity .content p {
  max-width: 22rem;
  text-align: center;
  margin: 1rem auto 0 auto;
}

/*:::::::::: INDEMNITY NUMBER ::::::::::*/

.indemnity-number {
  position: relative;
  padding: 5rem 0;
  background-color: var(--bgDark);
}
.indemnity-number .btn-arrow-down {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.indemnity-number .content {
  max-width: 37.5rem;
}
.indemnity-number .content span {
  display: block;
  font-size: 1.125rem;
  text-align: center;
  color: var(--bgWhite);
  line-height: 1.4;
}
.indemnity-number .content span.value {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem 0;
}
.indemnity-number .content span:nth-child(3) {
  max-width: 30.625rem;
  margin: 0 auto 3rem auto;
}

/*:::::::::: FOOTER ::::::::::*/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: var(--bgDark);
  padding: 2rem 0;
}
.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    transparent 10%,
    var(--accent) 50%,
    transparent 90%
  );
}
.footer .copy,
.footer a {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--bgWhite);
}
.footer a {
  text-decoration: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.footer a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

/*:::::::::: RESPONSIVIDADE ::::::::::*/
@media (max-width: 1180px) {
  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media (max-width: 1024px) {
  .hero {
    padding: 2rem 0 5rem 0;
  }
  .hero .header img {
    margin: 0 auto;
  }
  .hero .content {
    flex-direction: column-reverse;
    gap: 0;
    margin-top: 2rem;
  }
  .hero .img-hero img {
    max-width: 37.5rem;
    width: 100%;
    margin: 0 auto;
  }
  .hero .content .headline {
    max-width: 42rem;
    text-align: center;
    margin-top: -3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .content .headline p,
  .hero .content .headline a.cta {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .solutions {
    padding: 5rem 0;
  }
  .solutions .top {
    flex-direction: column;
  }
  .solutions .top .leftside img {
    max-width: 26.25rem;
    width: 100%;
    height: auto;
  }
  .solutions .top .rightside {
    text-align: center;
  }
  .differential {
    padding: 5rem 1.25rem;
  }
  .cases {
    padding: 5rem 0;
  }
  .cases .box-cases .item .text-content p {
    margin: 1rem 0;
  }
  .about {
    padding: 5rem 0;
  }
  .about .content .leftside img {
    margin-top: -9rem;
  }
}
@media (max-width: 900px) {
  .cases .box-cases .item,
  .cases .box-cases .item:nth-child(even) {
    flex-direction: column;
  }
  .cases .box-cases .item .img-case img {
    width: 75%;
    margin: 0 auto;
  }
  .cases .box-cases .item .text-content {
    text-align: center;
    margin: 0 auto;
  }
  .cases .box-cases .item .text-content .item-title {
    gap: 0.5rem;
    flex-direction: column;
  }
  .cases .box-cases .item .text-content p {
    margin: 1rem 0;
  }
  .cases .box-cases .item .text-content .btn-more {
    margin: 0 auto;
  }
  .statistics .numbers .item span {
    font-size: 3rem;
  }
  .about .content {
    flex-direction: column;
    gap: 0;
  }
  .about .content .leftside img {
    max-width: 15.625rem;
    width: 100%;
  }
  .about .content .rightside {
    text-align: center;
  }
  .about .content .rightside img {
    display: block;
    max-width: 16.75rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .cases .box-cases .item .img-case img {
    width: 90%;
  }
  .indemnity-number .content span.value {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
@media (max-width: 675px) {
  .solutions .box-card .card,
  .differential .box .item {
    max-width: 35.625rem;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .statistics .numbers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
}
@media (max-width: 500px) {
  .cta {
    max-width: 100%;
    width: 100%;
    padding: 1rem 0;
  }
  .cases .box-cases .item .text-content .btn-more {
    justify-content: center;
    max-width: 100%;
  }
}
